.body-chat{
  height: 100vh;
  width: 100vw;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  z-index: 1;
}

.chat{
  max-height: 550px;
  max-width: 350px;
  background: #dddddd1e;
  display: grid;
  grid-template-rows: 0fr 3fr 1fr;
  border-radius: 15%;
};