.pai{
  width: 315px;
  padding: 10px;
  background: linear-gradient(144deg, #24006f -22%, transparent 100%);;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pai img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.tell important{
  height: 25px
}

.tell:hover{
  cursor: pointer;
  background-color: whitesmoke;
  transition: 0.3s;
}

.title{
  font-size: 13px;
  color: black;
  display: flex;
  flex-direction: column;
}

.title span{
  opacity: 60%;
  color: rgb(0 0 0 / 60%);
}

